/*FOOTER*/
#footer-box {
    background: #444;
    grid-area: ft;
    color: white;
}

.footer-title {
    text-align: center;
    margin: 60px 0;
    font-size: 24px;
    letter-spacing: 2px;
}

.social-list {
    display: flex;
    justify-content: center;
    color: white;
    list-style-type: none;
}

.social-element {
    padding: 20px 50px 60px;
}

.social-link {
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background: #282828;
    margin: 0;
    padding: 15px;
}