@import "nav.css";
@import "footer.css";
@import "blog.css";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    grid-template-rows: minmax(30px, auto);
    grid-row-gap: 60px;
    grid-column-gap: 0;
    grid-template-areas:
    "nav nav nav"
    "post-1 post-2 post-3"
    "ft ft ft";
}

/*MAIN*/
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, auto);
    grid-gap: 30px;
    grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
    grid-area: post-2;
    background: #f4f4f4;
    padding: 45px 45px 65px;
}

.intro {
    display: flex;
    grid-area: top;
    text-align: center;
}

.left-post {
    display: flex;
    grid-area: left;
    background-image: url("/images/black_hole_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 203px;
}

.left-post:hover {
    opacity: 80%;
}

.right-post {
    display: flex;
    grid-area: right;
    background-image: url("/images/black_hole_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 203px;
}

.right-post:hover {
    opacity: 80%;
}

.image-container {
    border: 3px solid #808080;
    padding: 15px;
}

.main-link {
    text-decoration: none;
    color: white;
}

.button {
  border: 2px solid black;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  background: #F7932D linear-gradient(251.42deg, #F7932D 9.99%, #FFC700 100%);
  border-radius: 2px;
}

.box-title {
    color: crimson;
}

/*CONTACT ME*/
.contact-wrapper {
    justify-content: center;
    display: grid;
    grid-area: bottom;
    width: 100%;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid lightsteelblue;
}

.contact-me-title {
    text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submit-button-container {
    padding-top: 20px;
    text-align: center;
}

input[type=submit] {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  background: #F7932D linear-gradient(251.42deg, #F7932D 9.99%, #FFC700 100%);
  color: #000000;
  border-radius: 2px;
}

/*MOBILE*/
@media(max-width:767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(30px, auto);
        grid-gap: 20px;
        grid-template-areas:
        "nav"
        "post-2"
        "ft";
    }

    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(30px, auto);
        grid-gap: 10px;
        grid-template-areas:
        "top"
        "left"
        "right"
        "bottom";
        grid-area: post-2;
        background: #f4f4f4;
        padding: 20px 20px 50px;
    }

    .left-post {
        height: 260px;
        background-repeat: round;
    }

    .right-post {
        height: 260px;
        background-repeat: round;
    }

    .button {
        width: 100%;
    }

    .image-container {
        margin-bottom: 30px;
    }

    .intro {
        padding: 0 20px;
    }

    .submit-button {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }
}

/*TABLET*/
@media(min-width: 768px) and (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(30px, auto);
        grid-gap: 20px;
        grid-template-areas:
        "nav nav"
        "post-2 post-2"
        "ft ft";
    }

    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(30px, auto);
        grid-gap: 10px;
        grid-template-areas:
        "top top"
        "mid-l mid-r"
        "bottom bottom"
        ;
        grid-area: post-2;
        background: #f4f4f4;
        padding: 20px 20px 50px;
    }
    
    .left-post {
        display: flex;
        grid-area: mid-l;
        background-image: url("/images/black_hole_1.jpg");
        background-size: stretch;
        background-repeat: no-repeat;
        height: 203px;
    }
    
    .right-post {
        display: flex;
        grid-area: bottom-l;
        background-image: url("/images/black_hole_2.jpg");
        background-size: stretch;
        background-repeat: no-repeat;
        height: 203px;
    }

    .left-post {
        height: 260px;
        background-repeat: no-repeat;
    }

    .right-post {
        height: 260px;
        background-repeat: no-repeat;
    }

    .image-container {
        padding: 25px;
    }
}
