@import "nav.css";
@import "footer.css";

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, auto);
    grid-gap: 30px;
    grid-template-areas:
    "nav nav"
    "post-1 post-2"
    "ft ft";
    border: 2px solid black;
}

/*MAIN*/
.main-container-1 {
    padding: 10px 60px;
    grid-area: post-1;
}

.main-container-2 {
    padding: 10px 60px;
    grid-area: post-2;
}

.sidebar-box {
    display: flex;
    border: 2px solid blue;
}

.content-box {
    display: flex;
    border: 2px solid green;
}
